
ul.page_lists {
    width: 200px;
    padding: 3px 3px 3px 3px;
    text-align: center;
    
}

.profile {
    margin-top: 15px;
}

.icons {
    fill:white;
    width: 20px;
    height: 20px;
    padding-top: 8px;
}

.icons_active {
    fill:#48a3bd;
    width: 20px;
    height: 20px;
    padding-top: 8px;
}


li {
    font-size: 18px;
    padding: 3px;
    list-style: none;
    cursor: pointer;
    text-align: left;
    border: 2px solid transparent;
}


.navbar {
    display:flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    
}

.navbar_section {
padding-bottom: 0px;
}

.links_title {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 2px;
    text-align: center;
    
}

.links {
    border: 2px solid transparent;
    border-radius: 10px;
}

.links:hover {
    color: #48a3bd;
}

.links:hover svg {
    fill: #48a3bd;
}

.links_active {
    color: #48a3bd;
    border-radius: 10px;
    border: 2px solid #48a3bd;
    cursor: pointer;
    transition: 0.9s ease-out;
    
}

