* {
  box-sizing: border-box;
}

.App {
  /* background-color: #282c34; */
  max-width: 1160px;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  padding: 10px 0;
  margin: auto;

}

.main {
  width: 950px;
  border: 1px solid rgba(255, 255, 255, 0.096);
  border-radius: 10px;
  margin-left: 10px;
}